# Equity

## Import

- 공공데이터 포털 : [전국도시공원정보표준데이터](https://www.data.go.kr/data/15012890/standard.do) 사용

In [1]:
import re
import pandas as pd

In [2]:
try:
    df = pd.read_csv('/Users/kyeong6/Desktop/analysis/park/urban_park_data/urban_park.csv', encoding='utf-8')
except UnicodeDecodeError:
    try:
        df = pd.read_csv('/Users/kyeong6/Desktop/analysis/park/urban_park_data/urban_park.csv', encoding='cp949')
    except Exception as e:
        print(f"Error: {e}")

In [3]:
# 행 개수 파악
print(f"rows : {df.shape[0]}")

rows : 18858

In [4]:
df.head()

,관리번호,공원명,공원구분,소재지도로명주소,소재지지번주소,위도,경도,공원면적,공원보유시설(운동시설),공원보유시설(유희시설),공원보유시설(편익시설),공원보유시설(교양시설),공원보유시설(기타시설),지정고시일,관리기관명,전화번호,데이터기준일자,제공기관코드,제공기관명
0,41830-00017,광탄2호 소공원,소공원,NaN,경기도 양평군 용문면 광탄리 711,37.509628,127.628406,856.0,NaN,NaN,NaN,NaN,NaN,1994-02-25,경기도 양평군청,031-770-2358,2023-05-26,4170000,경기도 양평군
1,41830-00031,광탄3호 소공원,소공원,NaN,경기도 양평군 용문면 광탄리 762,37.508443,127.627414,847.0,NaN,NaN,NaN,NaN,NaN,1994-02-25,경기도 양평군청,031-770-2358,2023-05-26,4170000,경기도 양평군
2,41830-00018,공흥 소공원,소공원,NaN,경기도 양평군 양평읍 공흥리 885-1,37.493844,127.509326,1276.0,NaN,NaN,NaN,NaN,NaN,2012-11-22,경기도 양평군청,031-770-2358,2023-05-26,4170000,경기도 양평군
3,41830-00019,한강아트로드 공원,소공원,NaN,경기도 양평군 강하면 운심리 43-25,37.496021,127.408216,3300.0,NaN,NaN,NaN,NaN,NaN,2012-08-30,경기도 양평군청,031-770-2358,2023-05-26,4170000,경기도 양평군
4,41830-00020,강하 소공원,소공원,경기도 양평군 강하면 운심길 58,경기도 양평군 강하면 운심리 28-1,37.496164,127.412326,394.0,농구장+축구장+테니스장,NaN,NaN,NaN,NaN,2012-08-30,경기도 양평군청,031-770-2358,2023-05-26,4170000,경기도 양평군

In [5]:
# 필요없는 열 제거
df = df[['소재지지번주소','공원면적']]

In [6]:
# Nan 값 제거
df = df.dropna()

In [7]:
df

                     소재지지번주소     공원면적
0        경기도 양평군 용문면 광탄리 711    856.0
1        경기도 양평군 용문면 광탄리 762    847.0
2      경기도 양평군 양평읍 공흥리 885-1   1276.0
3      경기도 양평군 강하면 운심리 43-25   3300.0
4       경기도 양평군 강하면 운심리 28-1    394.0
...                      ...      ...
18853    인천광역시 중구 중산동 1959-2   8652.0
18854   인천광역시 중구 운남동 1745-10  43514.0
18855    인천광역시 중구 운남동 1681-9  55128.0
18856   인천광역시 중구 중산동 1926-19  10172.0
18857   인천광역시 중구 운남동 1722-84  28384.0

[18634 rows x 2 columns]

## 85개 도시 데이터로 범위 축소

In [8]:
# 도시명
city = [
    '대구광역시', '광주광역시', '대전광역시', '부산광역시', '서울특별시', '세종특별자치시', '울산광역시', '인천광역시',
    '강릉시', '동해시', '삼척시', '속초시', '원주시', '춘천시', '태백시', '고양시', '과천시', '광명시', '광주시', 
    '구리시', '군포시', '김포시', '남양주시', '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', 
    '안성시', '안양시', '양주시', '여주시', '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시', 
    '평택시', '포천시', '하남시', '화성시', '거제시', '김해시', '밀양시', '사천시', '양산시', '진주시', 
    '창원시', '통영시', '경산시', '경주시', '구미시', '김천시', '문경시', '상주시', '안동시', '영주시', 
    '영천시', '포항시', '광양시', '나주시', '목포시', '순천시', '여수시', '군산시', '김제시', '남원시', 
    '익산시', '전주시', '정읍시', '서귀포시', '제주시', '계룡시', '공주시', '논산시', '당진시', '보령시', 
    '서산시', '아산시', '천안시', '제천시', '청주시', '충주시'
]

In [9]:
# 도시명 리스트에 포함되는 도시만 사용
def extract_city(address):
    for c in city:
        if c in address:
            return c
    return None

In [10]:
df['도'] = df['소재지지번주소'].apply(extract_city)

In [11]:
df

                     소재지지번주소     공원면적      도
0        경기도 양평군 용문면 광탄리 711    856.0   None
1        경기도 양평군 용문면 광탄리 762    847.0   None
2      경기도 양평군 양평읍 공흥리 885-1   1276.0   None
3      경기도 양평군 강하면 운심리 43-25   3300.0   None
4       경기도 양평군 강하면 운심리 28-1    394.0   None
...                      ...      ...    ...
18853    인천광역시 중구 중산동 1959-2   8652.0  인천광역시
18854   인천광역시 중구 운남동 1745-10  43514.0  인천광역시
18855    인천광역시 중구 운남동 1681-9  55128.0  인천광역시
18856   인천광역시 중구 중산동 1926-19  10172.0  인천광역시
18857   인천광역시 중구 운남동 1722-84  28384.0  인천광역시

[18634 rows x 3 columns]

In [12]:
# "도"에서 None값인 행 제거
df = df.dropna(subset=['도'])

In [13]:
df

                     소재지지번주소     공원면적      도
17       대구광역시 달서구 월성동 500-1   1786.0  대구광역시
18        대구광역시 달서구 송현동 1977   1649.4  대구광역시
19     대구광역시 달서구 송현동 1035-21   2086.0  대구광역시
20         대구광역시 달서구 도원동 928    804.0  대구광역시
21      대구광역시 달서구 신당동 1759-1   2029.9  대구광역시
...                      ...      ...    ...
18853    인천광역시 중구 중산동 1959-2   8652.0  인천광역시
18854   인천광역시 중구 운남동 1745-10  43514.0  인천광역시
18855    인천광역시 중구 운남동 1681-9  55128.0  인천광역시
18856   인천광역시 중구 중산동 1926-19  10172.0  인천광역시
18857   인천광역시 중구 운남동 1722-84  28384.0  인천광역시

[16579 rows x 3 columns]

## 소재지지번주소를 통한 읍/면/동 추출

- 해당 프로젝트에서의 "공평"이란 각 도시 별로 도시공원의 배치가 "공간적 형평성"을 가지고 있는지 파악하는 지표

In [14]:
# 읍/면/동 추출
def extract_eup_myeon_dong(address):
    # Regular expression pattern to match 읍/면/동, including cases like "읍내동"
    pattern = r'\w+(?:읍|면|동)'
    matches = re.findall(pattern, address)
    if matches:
        # Join matches to handle cases like "읍내동"
        return " ".join(matches)
    return None

In [15]:
df['읍/면/동'] = df['소재지지번주소'].apply(extract_eup_myeon_dong)

/var/folders/gp/txd8895x3vbc94rnxd7b3gjw0000gn/T/ipykernel_51502/1217231943.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['읍/면/동'] = df['소재지지번주소'].apply(extract_eup_myeon_dong)

In [16]:
df

                     소재지지번주소     공원면적      도 읍/면/동
17       대구광역시 달서구 월성동 500-1   1786.0  대구광역시   월성동
18        대구광역시 달서구 송현동 1977   1649.4  대구광역시   송현동
19     대구광역시 달서구 송현동 1035-21   2086.0  대구광역시   송현동
20         대구광역시 달서구 도원동 928    804.0  대구광역시   도원동
21      대구광역시 달서구 신당동 1759-1   2029.9  대구광역시   신당동
...                      ...      ...    ...   ...
18853    인천광역시 중구 중산동 1959-2   8652.0  인천광역시   중산동
18854   인천광역시 중구 운남동 1745-10  43514.0  인천광역시   운남동
18855    인천광역시 중구 운남동 1681-9  55128.0  인천광역시   운남동
18856   인천광역시 중구 중산동 1926-19  10172.0  인천광역시   중산동
18857   인천광역시 중구 운남동 1722-84  28384.0  인천광역시   운남동

[16579 rows x 4 columns]

In [17]:
# 읍/면/동 열의 None값 개수 파악
none_count = df['읍/면/동'].isna().sum()
none_count

213

In [18]:
# 읍/면/동 열의 None값 확인
none_rows = df[df['읍/면/동'].isna()]
none_rows

                    소재지지번주소     공원면적      도 읍/면/동
493     서울특별시 은평구 불광1 247-4    940.0  서울특별시  None
494    서울특별시 은평구 구산 산173-23    387.0  서울특별시  None
495       서울특별시 은평구 불광1 247    203.0  서울특별시  None
496      서울특별시 은평구 대조 48-42    183.5  서울특별시  None
497     서울특별시 은평구 녹번 103-23    165.0  서울특별시  None
...                     ...      ...    ...   ...
17180   서울특별시 중구 의주로1가 44-2   1039.0  서울특별시  None
17514    강원도 원주시 동화리 1679-4  14177.0    원주시  None
17957   서울특별시 중구 을지로5가 40-3  17927.9  서울특별시  None
17960  서울특별시 중구 을지로2가 203-1    210.0  서울특별시  None
17961  서울특별시 중구 을지로2가 203-4    200.0  서울특별시  None

[213 rows x 4 columns]

### 읍/면/동 None값 수작업으로 값 채우기

In [19]:
# 데이터 저장
# df.to_csv('eup_myeon_dong.csv')
# none_rows.to_csv('none_emd.csv')

## 기존 데이터 형식 구조와 동일하게 맞추기

In [25]:
# 소재지지번주소 열 제거
df_updated = df_updated.drop(['소재지지번주소'], axis=1)

NameError: name 'df_updated' is not defined

In [35]:
# 열의 순서 변환
df_updated = df_updated[['도','읍/면/동', '공원면적']]

In [36]:
df_updated

           도 읍/면/동     공원면적
0      대구광역시   월성동   1786.0
1      대구광역시   송현동   1649.4
2      대구광역시   송현동   2086.0
3      대구광역시   도원동    804.0
4      대구광역시   신당동   2029.9
...      ...   ...      ...
16604  인천광역시   중산동   8652.0
16605  인천광역시   운남동  43514.0
16606  인천광역시   운남동  55128.0
16607  인천광역시   중산동  10172.0
16608  인천광역시   운남동  28384.0

[16609 rows x 3 columns]

In [37]:
# "도"와 "읍/면/동"을 기준으로 "공원면적"을 합산
result = df.groupby(['도', '읍/면/동'])['공원면적'].sum().reset_index()

In [38]:
result

        도 읍/면/동       공원면적
0     강릉시   강문동   147966.0
1     강릉시   견소동     2184.0
2     강릉시    교동  1326082.2
3     강릉시   금학동     4684.0
4     강릉시   남문동      450.0
...   ...   ...        ...
2443  화성시   진안동   104416.0
2444  화성시   청계동   366825.5
2445  화성시   팔탄면     6432.0
2446  화성시   향남읍   898455.0
2447  화성시   황계동      540.0

[2448 rows x 3 columns]

## 동을 1,2동으로 나누는 경우가 존재하여 합산 면적구하기

In [26]:
df = pd.read_csv('check_equity.csv',index_col=0)

In [27]:
df

          도 읍/면/동       공원면적
0     대구광역시   가창면     3000.0
1     대구광역시   각산동    86226.7
2     대구광역시   갈산동    20824.0
3     대구광역시   감삼동     6792.4
4     대구광역시   공평동    28706.0
...     ...   ...        ...
2443    충주시   주덕읍    65956.3
2444    충주시  중앙탑면  1012986.6
2445    충주시   지현동     2983.1
2446    충주시   칠금동    27443.5
2447    충주시   호암동   912588.9

[2403 rows x 3 columns]

In [28]:
def normalize_dong(df):
    
    # 새로운 열 생성
    df['base_name'] = df['읍/면/동'].apply(lambda x: re.sub(r'(\d+동)', '동', x))
    
    # 동을 합병한 후 공원면적 합산 
    combined_df = df.groupby(['도', 'base_name']).agg({'공원면적': 'sum'}).reset_index()
    combined_df.rename(columns={'base_name': '읍/면/동'}, inplace=True)
    
    return combined_df

In [29]:
result = normalize_dong(df)

In [30]:
result

        도 읍/면/동       공원면적
0     강릉시   강문동   147966.0
1     강릉시   견소동     2184.0
2     강릉시    교동  1326082.2
3     강릉시   금학동     4684.0
4     강릉시   남문동      450.0
...   ...   ...        ...
2299  화성시   진안동   104416.0
2300  화성시   청계동   366825.5
2301  화성시   팔탄면     6432.0
2302  화성시   향남읍   898455.0
2303  화성시   황계동      540.0

[2304 rows x 3 columns]

In [33]:
# "도"의 순서를 기존 데이터셋과 맞추기 위한 정렬
order = [
    '대구광역시', '광주광역시', '대전광역시', '부산광역시', '서울특별시', '세종특별자치시', '울산광역시', '인천광역시',
    '강릉시', '동해시', '삼척시', '속초시', '원주시', '춘천시', '태백시', '고양시', '과천시', '광명시', '광주시', 
    '구리시', '군포시', '김포시', '남양주시', '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', 
    '안성시', '안양시', '양주시', '여주시', '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시', 
    '평택시', '포천시', '하남시', '화성시', '거제시', '김해시', '밀양시', '사천시', '양산시', '진주시', 
    '창원시', '통영시', '경산시', '경주시', '구미시', '김천시', '문경시', '상주시', '안동시', '영주시', 
    '영천시', '포항시', '광양시', '나주시', '목포시', '순천시', '여수시', '군산시', '김제시', '남원시', 
    '익산시', '전주시', '정읍시', '서귀포시', '제주시', '계룡시', '공주시', '논산시', '당진시', '보령시', 
    '서산시', '아산시', '천안시', '제천시', '청주시', '충주시'
]

In [34]:
# "도"의 값을 주어진 순서대로 정렬하기 위해 카테고리형으로 변환
result['도'] = pd.Categorical(result['도'], categories=order, ordered=True)

# 정렬
result = result.sort_values(['도', '읍/면/동']).reset_index(drop=True)

In [35]:
result

          도 읍/면/동       공원면적
0     대구광역시   가창면     3000.0
1     대구광역시   각산동    86226.7
2     대구광역시   갈산동    20824.0
3     대구광역시   감삼동     6792.4
4     대구광역시   공평동    28706.0
...     ...   ...        ...
2299    충주시   주덕읍    65956.3
2300    충주시  중앙탑면  1012986.6
2301    충주시   지현동     2983.1
2302    충주시   칠금동    27443.5
2303    충주시   호암동   912588.9

[2304 rows x 3 columns]

In [36]:
# result.to_csv('equity_result.csv',index=False)

In [37]:
acreage = pd.read_csv('dong_acreage.csv')

In [38]:
acreage

        도시명    동       면적
0     대구광역시  가창면  111.330
1     대구광역시  감삼동    1.180
2     대구광역시  검단동    3.810
3     대구광역시  고로면  114.631
4     대구광역시  고산동   38.270
...     ...  ...      ...
2243  서울특별시  암사동    4.710
2244  서울특별시  천호동    3.070
2245  서울특별시  성내동    1.960
2246  서울특별시   길동    2.170
2247  서울특별시  둔촌동    1.900

[2248 rows x 3 columns]

In [39]:
def normalize_acreage(df):
    
    # 새로운 열 생성
    df['base_name'] = df['동'].apply(lambda x: re.sub(r'(\d+동)', '동', x))
    
    # 동을 합병한 후 공원면적 합산 
    combined_df = df.groupby(['도시명', 'base_name']).agg({'면적': 'sum'}).reset_index()
    combined_df.rename(columns={'base_name': '동'}, inplace=True)
    
    return combined_df

In [40]:
acreage = normalize_acreage(acreage)

In [41]:
acreage

      도시명    동      면적
0     강릉시  강남동   16.08
1     강릉시  강동면  112.79
2     강릉시  경포동   23.06
3     강릉시   교동    5.30
4     강릉시  구정면   42.81
...   ...  ...     ...
1996  화성시  정남면   40.68
1997  화성시  진안동    6.88
1998  화성시  팔탄면   50.96
1999  화성시  향남읍   50.01
2000  화성시  화산동   11.61

[2001 rows x 3 columns]

In [42]:
# "도"의 값을 주어진 순서대로 정렬하기 위해 카테고리형으로 변환
acreage['도시명'] = pd.Categorical(acreage['도시명'], categories=order, ordered=True)

# 정렬
acreage = acreage.sort_values(['도시명', '동']).reset_index(drop=True)

In [43]:
acreage

        도시명      동       면적
0     대구광역시    가창면  111.330
1     대구광역시    감삼동    1.180
2     대구광역시    검단동    3.810
3     대구광역시    고로면  114.631
4     대구광역시    고산동   38.270
...     ...    ...      ...
1996    충주시    주덕읍   48.400
1997    충주시   중앙탑면   48.100
1998    충주시    지현동    0.600
1999    충주시  칠금금릉동    5.900
2000    충주시   호암직동   14.300

[2001 rows x 3 columns]

In [44]:
# acreage.to_csv('equity_acreage_result.csv')

## 두 개의 데이터셋을 확인한 후 합치기

- 도시의 면적과 도시공원 면적 데이터 합치기

In [45]:
result

          도 읍/면/동       공원면적
0     대구광역시   가창면     3000.0
1     대구광역시   각산동    86226.7
2     대구광역시   갈산동    20824.0
3     대구광역시   감삼동     6792.4
4     대구광역시   공평동    28706.0
...     ...   ...        ...
2299    충주시   주덕읍    65956.3
2300    충주시  중앙탑면  1012986.6
2301    충주시   지현동     2983.1
2302    충주시   칠금동    27443.5
2303    충주시   호암동   912588.9

[2304 rows x 3 columns]

In [46]:
acreage

        도시명      동       면적
0     대구광역시    가창면  111.330
1     대구광역시    감삼동    1.180
2     대구광역시    검단동    3.810
3     대구광역시    고로면  114.631
4     대구광역시    고산동   38.270
...     ...    ...      ...
1996    충주시    주덕읍   48.400
1997    충주시   중앙탑면   48.100
1998    충주시    지현동    0.600
1999    충주시  칠금금릉동    5.900
2000    충주시   호암직동   14.300

[2001 rows x 3 columns]

In [47]:
equity_acreage_result = pd.read_csv('equity_acreage_result.csv')
equity_result = pd.read_csv('equity_result.csv')

In [48]:
# "도시공원면적"을 생성하고 모든 값을 0으로 초기화
equity_acreage_result['도시공원면적'] = 0

In [49]:
# 공원면적과 읍/면/동을 맞추기위한 딕셔너리 생성
park_area_dict = equity_result.set_index('읍/면/동')['공원면적'].to_dict()

In [50]:
# "도시공원면적"을 기반으로 값 업데이트
equity_acreage_result['도시공원면적'] = equity_acreage_result['동'].map(park_area_dict).fillna(0)

In [51]:
# 매치가 안 되는 "동" 식별
unmatched_rows = equity_result[~equity_result['읍/면/동'].isin(equity_acreage_result['동'])]

In [52]:
equity_acreage_result

      Unnamed: 0    도시명      동       면적     도시공원면적
0              0  대구광역시    가창면  111.330     3000.0
1              1  대구광역시    감삼동    1.180     6792.4
2              2  대구광역시    검단동    3.810        0.0
3              3  대구광역시    고로면  114.631        0.0
4              4  대구광역시    고산동   38.270    21011.4
...          ...    ...    ...      ...        ...
1996        1996    충주시    주덕읍   48.400    65956.3
1997        1997    충주시   중앙탑면   48.100  1012986.6
1998        1998    충주시    지현동    0.600     2983.1
1999        1999    충주시  칠금금릉동    5.900        0.0
2000        2000    충주시   호암직동   14.300        0.0

[2001 rows x 5 columns]

In [53]:
equity_acreage_result = equity_acreage_result.drop(['Unnamed: 0'], axis=1)

In [54]:
equity_acreage_result

        도시명      동       면적     도시공원면적
0     대구광역시    가창면  111.330     3000.0
1     대구광역시    감삼동    1.180     6792.4
2     대구광역시    검단동    3.810        0.0
3     대구광역시    고로면  114.631        0.0
4     대구광역시    고산동   38.270    21011.4
...     ...    ...      ...        ...
1996    충주시    주덕읍   48.400    65956.3
1997    충주시   중앙탑면   48.100  1012986.6
1998    충주시    지현동    0.600     2983.1
1999    충주시  칠금금릉동    5.900        0.0
2000    충주시   호암직동   14.300        0.0

[2001 rows x 4 columns]

In [55]:
unmatched_rows

          도 읍/면/동      공원면적
1     대구광역시   각산동   86226.7
4     대구광역시   공평동   28706.0
10    대구광역시   금강동    1602.0
14    대구광역시   노변동   14117.0
18    대구광역시   달성동  263907.0
...     ...   ...       ...
2284    충주시   금릉동   10174.1
2288    충주시   목행동   47294.3
2298    충주시   용탄동  132121.4
2302    충주시   칠금동   27443.5
2303    충주시   호암동  912588.9

[824 rows x 3 columns]

In [101]:
# equity_acreage_result.to_csv('final_equity.csv')
# unmatched_rows.to_csv('unmatched.csv')

### 수작업으로 매칭시킨 후 정렬 진행

In [56]:
final_equity_data = pd.read_csv('equity_final.csv')

In [57]:
final_equity_data

        도시명      동       면적     도시공원면적
0     대구광역시    가창면  111.330       3000
1     대구광역시    감삼동    1.180     6792.4
2     대구광역시    검단동    3.810          0
3     대구광역시    고로면  114.631          0
4     대구광역시    고산동   38.270    96572.1
...     ...    ...      ...        ...
2086    충주시    주덕읍   48.400    65956.3
2087    충주시   중앙탑면   48.100  1012986.6
2088    충주시    지현동    0.600     2983.1
2089    충주시  칠금금릉동    5.900  37,617.60
2090    충주시   호암직동   14.300   912588.9

[2091 rows x 4 columns]

In [58]:
# "도"의 값을 주어진 순서대로 정렬하기 위해 카테고리형으로 변환
final_equity_data['도시명'] = pd.Categorical(final_equity_data['도시명'], categories=order, ordered=True)

# 정렬
final_equity_data = final_equity_data.sort_values(['도시명', '동']).reset_index(drop=True)

In [59]:
final_equity_data

        도시명      동       면적     도시공원면적
0     대구광역시    가창면  111.330       3000
1     대구광역시    감삼동    1.180     6792.4
2     대구광역시    검단동    3.810          0
3     대구광역시    고로면  114.631          0
4     대구광역시    고산동   38.270    96572.1
...     ...    ...      ...        ...
2086    충주시    주덕읍   48.400    65956.3
2087    충주시   중앙탑면   48.100  1012986.6
2088    충주시    지현동    0.600     2983.1
2089    충주시  칠금금릉동    5.900  37,617.60
2090    충주시   호암직동   14.300   912588.9

[2091 rows x 4 columns]

In [116]:
# final_equity_data.to_csv('final_equity_data.csv',index=False)

## "구"로 나눈 데이터 Gini 계수 확인

- 해당 프로젝트에서의 "공평"이란 각 도시 별로 "읍/면/동"에 위치하는 도시공원의 배치가 "공간적 형평성"을 가지고 있는지 파악하는 지표
- 위에서 얻은 데이터셋(final_equity_gini.csv)을 수작업으로 수정 및 추가한 뒤 Gini 계수 적용
- 공평/불공평을 정량적으로 표현할 수 있는 통계적 방법(상세 내용은 문서화 참고)

In [60]:
import numpy as np

In [61]:
try:
    df = pd.read_csv('/Users/kyeong6/Desktop/analysis/park/equity/final_equity_gini.csv', encoding='utf-8')
except UnicodeDecodeError:
    try:
        df = pd.read_csv('/Users/kyeong6/Desktop/analysis/park/equity/final_equity_gini.csv', encoding='cp949')
    except Exception as e:
        print(f"Error: {e}")

In [62]:
df

        도시명   행정구역      동     면적     도시공원 면적
0     대구광역시     중구    동인동   0.99       85018
1     대구광역시     중구    삼덕동   0.64           0
2     대구광역시     중구    성내동   2.45    348276.1
3     대구광역시     중구    대신동   0.52         559
4     대구광역시     중구    대봉동   0.84        2452
...     ...    ...    ...    ...         ...
2066    충주시    봉방동    봉방동   3.60     13156.8
2067    충주시  칠금금릉동  칠금금릉동   5.90   37,617.60
2068    충주시    연수동    연수동   5.00     77622.2
2069    충주시  목행용탄동  목행용탄동  13.60  179,415.70
2070    충주시    교현동    교현동   0.94           0

[2071 rows x 5 columns]

In [63]:
# 데이터 타입 변환(,가 존재)
df['도시공원 면적'] = df['도시공원 면적'].str.replace(',', '').astype(float)

In [64]:
# Gini 계수 적용
def calculate_gini(values):
    """Calculate the Gini coefficient using the Lorenz curve method."""
    values = np.sort(values)
    n = len(values)
    if n == 0 or np.all(values == 0):  # Handle edge cases with no values or all zero values
        return 0
    index = np.arange(1, n+1)
    return (np.sum((2 * index - n - 1) * values)) / (n * np.sum(values))

In [65]:
# "도시공원 면적" 숫자형으로 변경
df['도시공원 면적'] = pd.to_numeric(df['도시공원 면적'], errors='coerce')

In [66]:
# "도시공원 면적"에 존재하는 결측치 제거
df_cleaned = df.dropna(subset=['도시공원 면적'])

In [67]:
# "도시공원 면적"은 제곱미터이므로 "도시면적"과 맞추기위한 작업 (1 square kilometer = 1,000,000 square meters
df_cleaned['도시공원 면적'] = df_cleaned['도시공원 면적'] / 1_000_000

/var/folders/gp/txd8895x3vbc94rnxd7b3gjw0000gn/T/ipykernel_51502/4089554348.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['도시공원 면적'] = df_cleaned['도시공원 면적'] / 1_000_000

In [68]:
# 각 도시 내 행정 구역 수준의 공원 면적을 통합
aggregated_data = df_cleaned.groupby(['도시명', '행정구역'])['도시공원 면적'].sum().reset_index()

In [69]:
# 각 도시의 행정구역 공원지역 분포에 대한 지니계수를 계산
gini_results = aggregated_data.groupby('도시명')['도시공원 면적'].apply(lambda x: calculate_gini(x.values))

In [70]:
# DataFrame 변환
gini_df = gini_results.reset_index()
gini_df.columns = ['도시명', 'Gini계수']

In [71]:
gini_df

    도시명    Gini계수
0   강릉시  0.689710
1   거제시  0.670489
2   경산시  0.617959
3   경주시  0.843582
4   계룡시  0.441413
..  ...       ...
80  평택시  0.178340
81  포천시  0.746817
82  포항시  0.730805
83  하남시  0.781895
84  화성시  0.666615

[85 rows x 2 columns]

In [72]:
# "도"의 순서를 기존 데이터셋과 맞추기 위한 정렬
order = [
    '대구광역시', '광주광역시', '대전광역시', '부산광역시', '서울특별시', '세종특별자치시', '울산광역시', '인천광역시',
    '강릉시', '동해시', '삼척시', '속초시', '원주시', '춘천시', '태백시', '고양시', '과천시', '광명시', '광주시', 
    '구리시', '군포시', '김포시', '남양주시', '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', 
    '안성시', '안양시', '양주시', '여주시', '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시', 
    '평택시', '포천시', '하남시', '화성시', '거제시', '김해시', '밀양시', '사천시', '양산시', '진주시', 
    '창원시', '통영시', '경산시', '경주시', '구미시', '김천시', '문경시', '상주시', '안동시', '영주시', 
    '영천시', '포항시', '광양시', '나주시', '목포시', '순천시', '여수시', '군산시', '김제시', '남원시', 
    '익산시', '전주시', '정읍시', '서귀포시', '제주시', '계룡시', '공주시', '논산시', '당진시', '보령시', 
    '서산시', '아산시', '천안시', '제천시', '청주시', '충주시'
]

In [73]:
# "도"의 값을 주어진 순서대로 정렬하기 위해 카테고리형으로 변환
gini_df['도시명'] = pd.Categorical(gini_df['도시명'], categories=order, ordered=True)

# 정렬
gini_df = gini_df.sort_values(['도시명']).reset_index(drop=True)

In [74]:
gini_df

      도시명    Gini계수
0   대구광역시  0.559517
1   광주광역시  0.287606
2   대전광역시  0.341127
3   부산광역시  0.509688
4   서울특별시  0.655157
..    ...       ...
80    아산시  0.639658
81    천안시  0.103032
82    제천시  0.739262
83    청주시  0.102685
84    충주시  0.795610

[85 rows x 2 columns]

In [75]:
# gini_df.to_csv('final_equity_gini_result.csv', index=False)